 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Luôn Group phát triển các website và ứng dụng tiện ích cho người dùng.</p>
                </div>
                <div class="col-lg-4">
                    <p>Chúng tôi không chịu trách nhiệm đối với mọi hành vi người dùng và nội dung người dùng đăng tải lên website/công cụ của chúng tôi.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
